# Challenge 1 - T-test

In statistics, t-test is used to test if two data samples have a significant difference between their means. There are two types of t-test:

* **Student's t-test** (a.k.a. independent or uncorrelated t-test). This type of t-test is to compare the samples of **two independent populations** (e.g. test scores of students in two different classes). `scipy` provides the [`ttest_ind`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_ind.html) method to conduct student's t-test.

* **Paired t-test** (a.k.a. dependent or correlated t-test). This type of t-test is to compare the samples of **the same population** (e.g. scores of different tests of students in the same class). `scipy` provides the [`ttest_re`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_rel.html) method to conduct paired t-test.

Both types of t-tests return a number which is called the **p-value**. If p-value is below 0.05, we can confidently declare the null-hypothesis is rejected and the difference is significant. If p-value is between 0.05 and 0.1, we may also declare the null-hypothesis is rejected but we are not highly confident. If p-value is above 0.1 we do not reject the null-hypothesis.

Read more about the t-test in [this article](http://b.link/test50) and [this Quora](http://b.link/unpaired97). Make sure you understand when to use which type of t-test.

In [ ]:
# Import libraries
import pandas as pd
import numpy as np
import scipy.stats as st
from scipy.stats import ttest_ind, ttest_rel

#### Import dataset

In this challenge we will work on the Pokemon dataset. The goal is to test whether different groups of pokemon (e.g. Legendary vs Normal, Generation 1 vs 2, single-type vs dual-type) have different stats (e.g. HP, Attack, Defense, etc.).

In [3]:
# Your code here:
pokemon_df = pd.read_csv('Pokemon.csv')
display(pokemon_df.head())

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

#### First we want to define a function with which we can test the means of a feature set of two samples. 

In the next cell you'll see the annotations of the Python function that explains what this function does and its arguments and returned value. This type of annotation is called **docstring** which is a convention used among Python developers. The docstring convention allows developers to write consistent tech documentations for their codes so that others can read. It also allows some websites to automatically parse the docstrings and display user-friendly documentations.

Follow the specifications of the docstring and complete the function.

In [4]:
def t_test_features(s1, s2, features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']):
    """Test means of a feature set of two samples
    
    Args:
        s1 (dataframe): sample 1
        s2 (dataframe): sample 2
        features (list): an array of features to test
    
    Returns:
        dict: a dictionary of t-test scores for each feature where the feature name is the key and the p-value is the value
    """
    results = {}

    for feature in features:
        # Perform t-test
        t_stat, p_value = ttest_ind(s1[feature], s2[feature], equal_var=False)
        # Store the feature's p-value
        results[feature] = p_value
    
    
    return results

#### Using the `t_test_features` function, conduct t-test for Lengendary vs non-Legendary pokemons.

*Hint: your output should look like below:*

```
{'HP': 1.0026911708035284e-13,
 'Attack': 2.520372449236646e-16,
 'Defense': 4.8269984949193316e-11,
 'Sp. Atk': 1.5514614112239812e-21,
 'Sp. Def': 2.2949327864052826e-15,
 'Speed': 1.049016311882451e-18,
 'Total': 9.357954335957446e-47}
 ```

In [7]:
# Your code here
lengendary_pokemons = pokemon_df[pokemon_df['Legendary'] == True]
normal_pokemons = pokemon_df[pokemon_df['Legendary'] == False]
display(lengendary_pokemons.sample(10))
display(normal_pokemons.sample(10))

t_test_features(lengendary_pokemons,normal_pokemons)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
707,644,Zekrom,Dragon,Electric,680,100,150,120,120,100,90,5,True
710,646,Kyurem,Dragon,Ice,660,125,130,90,130,90,95,5,True
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
538,481,Mesprit,Psychic,NaN,580,80,105,105,105,105,80,4,True
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True
262,243,Raikou,Electric,NaN,580,90,85,75,115,100,115,2,True
537,480,Uxie,Psychic,NaN,580,75,75,130,75,130,95,4,True
709,645,LandorusTherian Forme,Ground,Flying,600,89,145,90,105,80,91,5,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
420,381,LatiosMega Latios,Dragon,Psychic,700,80,130,100,160,120,110,3,True

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
212,197,Umbreon,Dark,NaN,525,95,65,110,60,130,65,2,False
166,152,Chikorita,Grass,NaN,318,45,49,65,49,65,45,2,False
266,247,Pupitar,Rock,Ground,410,70,84,70,65,70,51,2,False
292,269,Dustox,Bug,Poison,385,60,50,70,50,90,65,3,False
177,163,Hoothoot,Normal,Flying,262,60,30,30,36,56,50,2,False
127,118,Goldeen,Water,NaN,320,45,67,60,35,50,63,1,False
345,316,Gulpin,Poison,NaN,302,70,43,53,43,53,40,3,False
514,463,Lickilicky,Normal,NaN,515,110,85,95,80,95,50,4,False
466,419,Floatzel,Water,NaN,495,85,105,55,85,50,115,4,False
749,680,Doublade,Steel,Ghost,448,59,110,150,45,49,35,6,False

{'HP': 1.0026911708035284e-13,
 'Attack': 2.520372449236646e-16,
 'Defense': 4.8269984949193316e-11,
 'Sp. Atk': 1.5514614112239812e-21,
 'Sp. Def': 2.2949327864052826e-15,
 'Speed': 1.049016311882451e-18,
 'Total': 9.357954335957446e-47}

#### From the test results above, what conclusion can you make? Do Legendary and non-Legendary pokemons have significantly different stats on each feature?

In [ ]:
# Your comment here

#all p-values are lower than 0.05 so we can say there are significant difference on features between Legendary and non-Legendary pokemons

#### Next, conduct t-test for Generation 1 and Generation 2 pokemons.

In [9]:
# Your code here
gen1_pokemons = pokemon_df[pokemon_df['Generation'] == 1]
gen2_pokemons = pokemon_df[pokemon_df['Generation'] == 2]

display(gen1_pokemons.sample(5))
display(gen2_pokemons.sample(5))

t_test_features(gen1_pokemons,gen2_pokemons)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
114,106,Hitmonlee,Fighting,NaN,455,50,120,53,35,110,87,1,False
154,142,AerodactylMega Aerodactyl,Rock,Flying,615,80,135,85,70,95,150,1,False
15,12,Butterfree,Bug,Flying,395,60,45,50,90,80,70,1,False
144,133,Eevee,Normal,NaN,325,55,55,50,45,65,55,1,False
21,17,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,False

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
255,236,Tyrogue,Fighting,NaN,210,35,35,35,35,35,35,2,False
257,238,Smoochum,Ice,Psychic,305,45,30,15,85,65,65,2,False
212,197,Umbreon,Dark,NaN,525,95,65,110,60,130,65,2,False
170,156,Quilava,Fire,NaN,405,58,64,58,80,65,80,2,False
186,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False

{'HP': 0.14551697834219623,
 'Attack': 0.24721958967217725,
 'Defense': 0.5677711011725426,
 'Sp. Atk': 0.12332165977104388,
 'Sp. Def': 0.18829872292645752,
 'Speed': 0.00239265937312135,
 'Total': 0.5631377907941676}

#### What conclusions can you make?

In [11]:
# Your comment here
#For all features except Speed, the p-values indicate that the differences in means are not statistically significant. 
#This means we cannot confidently conclude that gen1 and gen2 pokemons are different in these features. However we can say that
#Speed between gen1 and gen2 pokemons is statistically significant.

#### Compare pokemons who have single type vs those having two types.

In [16]:
# Your code here

pokemon_df['Number of Types'] = pokemon_df['Type 2'].apply(lambda x: 1 if pd.isna(x) else 2)

onetype_pokemons = pokemon_df[pokemon_df['Number of Types'] == 1]
twotype_pokemons = pokemon_df[pokemon_df['Number of Types'] == 2]

display(onetype_pokemons.sample(5))
display(twotype_pokemons.sample(5))


t_test_features(onetype_pokemons,twotype_pokemons)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Number of Types
250,231,Phanpy,Ground,NaN,330,90,60,60,40,40,40,2,False,1
289,266,Silcoon,Bug,NaN,205,50,35,55,25,25,15,3,False,1
395,361,Snorunt,Ice,NaN,300,50,50,50,50,50,50,3,False,1
563,504,Patrat,Normal,NaN,255,45,55,39,35,39,42,5,False,1
550,492,ShayminLand Forme,Grass,NaN,600,100,100,100,100,100,100,4,True,1

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Number of Types
501,451,Skorupi,Poison,Bug,330,40,50,90,30,55,65,4,False,2
306,282,GardevoirMega Gardevoir,Psychic,Fairy,618,68,85,65,165,135,100,3,False,2
365,334,Altaria,Dragon,Flying,490,75,70,90,70,105,80,3,False,2
409,373,SalamenceMega Salamence,Dragon,Flying,700,95,145,130,120,90,120,3,False,2
244,226,Mantine,Water,Flying,465,65,40,70,80,140,70,2,False,2

{'HP': 0.11314389855379413,
 'Attack': 0.00014932578145948305,
 'Defense': 2.7978540411514693e-08,
 'Sp. Atk': 0.00013876216585667907,
 'Sp. Def': 0.00010730610934512779,
 'Speed': 0.02421703281819093,
 'Total': 1.1157056505229961e-07}

#### What conclusions can you make?

In [17]:
# Your comment here

#both pokemon types differ significantly in most stats (Attack, Defense, Sp. Atk, Sp. Def, Speed, and Total). Even in speed there is no lot of
#difference for speed
# However, there is no strong evidence of a difference in their HP stat.

#### Now, we want to compare whether there are significant differences of `Attack` vs `Defense`  and  `Sp. Atk` vs `Sp. Def` of all pokemons. Please write your code below.

*Hint: are you comparing different populations or the same population?*

In [20]:
# Your code here
  
display(ttest_rel(pokemon_df['Attack'], pokemon_df['Defense']))
display(ttest_rel(pokemon_df['Sp. Atk'], pokemon_df['Sp. Def']))

TtestResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05, df=799)

TtestResult(statistic=0.853986188453353, pvalue=0.3933685997548122, df=799)

#### What conclusions can you make?

In [ ]:
# Your comment here
#pokemon stats differ significantly in Attack vs Defense.
#However  there is no significant difference between Sp. Atk and Sp. Def.